.site-header {
    background:linear-gradient(to right, #00000063, #0000002f), url(../../img/bg-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    .header-flex {
        display: flex;
        align-items: center;
         min-height: 80vh;
         @media screen and(max-width: 850px) {
             justify-content: center;
         }
    }
    .header-text {
        @include grid;

        height: 100%;
        border-radius: 3px;
        padding: 2em 6em;
        @include box-shadow;
        
        color: $white-secondary;
        h1 {
            letter-spacing: 2px;
            max-width: 14ch;
            line-height: 70px
        }
        p {
            padding: 0 .5em;
        }
        
        a {
            @include button($blue, $white);            
            @include box-shadow;
            max-width: 100%;
            text-align: center;
            position: relative;
            overflow: hidden;
            z-index: 4;
            transition: all .8s ease;
            cursor: pointer;
            margin: 1em 0;
             padding: .6em .6em;
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-color: $white;
                z-index: -1;
                position: absolute;
                inset: 0;
                transform: translateY(250%);
                transition: all .8s ease;
            }

            &:hover {
                color: $blue;
                border-color: $blue;

                &::after {
                    transform: translateY(1%);

                }
            }
        }
        @media screen and(max-width: 850px) {
            padding: 1em 2em;
            background-color: transparent;
            box-shadow: unset;
            text-align: center;
            border: none;

            h1 {
                color: $white;
                max-width: 100%;
                line-height: normal;
            }

            a {
                margin: 1em auto;
            }
        }
    }
}