.site-main {
    background: linear-gradient(to right, $white, #fdfdfd);

}


// About
.site-about {

    position: relative;
    top: 5%;
    right: 0;
    left: 0;
    bottom: 0;
    min-height: 95vh;
    height: 100%;
    padding:4em 0 0 0;

    svg {
        position: absolute;
        top: 0;
    }

    .about-grid {
        @include grid;
        grid-template-columns: repeat(2, 50%);
        @include contenedor-75;
        z-index: 4;
        position: sticky;
        right: 0;

        left: 0;
        top: 20%;
        margin: 0 auto;

        padding: 2em;
        text-align: left;
        @include box-shadow;
        background: linear-gradient(to bottom, $white 45%, $white 0);
        border-color: transparent;
        border-radius: 9px;
    
        @media screen and(max-width: 900px) {
            margin: 0 auto;
            grid-template-columns: 1fr;
            text-align: center;
        }

        .about-text {
            @include grid;

            h2 {
                text-transform: uppercase;
                padding: 1em 0 0 0;
                border-bottom: 2px solid $blue;
            }

            p {
                max-width: 84ch;
                padding: 1em 0;
            }
        }

        .about-img {

            img {
                width: 100%;
                display: block;
                max-width: 350px;
                margin: 0 0 0 auto;

                @media screen and(max-width: 900px) {
                    margin: 0 auto;

                }
            }
        }
    }
}


// Services

.site-services {
    .services-grid {
        @include grid;
        @include contenedor-75;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        min-height: 100vh;
        margin: 0 auto;
        gap: 1em 2em;

        .services-title {
            padding: 15% 0 5% 0;

            h2 {
                border-bottom: 2px solid $blue;
                text-transform: uppercase;
                max-width: max-content;
            }
        }

        .service-card {
            grid-row: 2;
            @include box-shadow;
            padding: 1.5em 0;

            aspect-ratio: 2 / 1;
            height: 100%;
            width: 100%;
            border: 2px solid transparent;
            min-width: 250px;
            background-color: $white;
            transition: all .5s ease;
            border-radius: 6px;

            @media screen and(max-width: 1050px) {
                grid-row: auto;
            }
            header {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5em;
                padding: 0 0 1.5em 0;
            }
            

            h3 {
                text-align: center;
               
                font-weight: 600;

                


            }

            ul {

                display: flex;
                flex-direction: column;

                justify-content: center;


                gap: .5em;

                li {
                    font-weight: 400;
                    padding: 1em;

                    i {
                        color: green;
                    }

                    &:nth-child(2n + 1) {
                        background-color: #f4f4f493;

                    }
                }
            }
        }
    }
}

.whatsapp-floating {
    position: fixed;
    z-index: 15;
    bottom: 4%;
    right: 2%;
    

    i {
        font-size: 2.7rem;
        color: rgb(255, 255, 255);
        background-color: #25D366;
        border-radius: 100%;
        clip-path: circle();
        padding: .3em;
        aspect-ratio: 1 / 1;
        transition: all .8s ease;
        
    }
}

@media (min-width:950px) {

    .fade-in {
        opacity: 0;
    }
    
    .fade-in.appear {
        transition: all 3s ease;
        opacity: 1;
        &:nth-child(2){
            transition-duration: 3.3s;
        }
        &:nth-child(3){
            transition-duration: 2.7s;
        }
    }



    
}