*, *:before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
        font-family: 'Poppins',
        sans-serif;

}
input,button,textarea {
    border: none;
    outline: none;
    font-size: $font-text;
}
img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}
li {
    list-style: none;
}
a, button, li {
    text-decoration: none;
    font-size: $font-text;
}

h1 {
    font-size: $font-big;
}
h2 {
    font-size: $font-big-medium;
}

h3 {
    font-size: $font-middle;
}

.contenedor-1 {
    max-width: 80vw;
    margin: 0 auto;

}

.mobile {
    @media screen and(min-width: 1050px) {
        display: none;
    }
}
.desktop {
    @media screen and(max-width: 1050px) {
        display: none;
    }
}

 .loader-content {
     margin-top: 5%;
     align-content: center;
     display: flex;
     margin: 0 auto;
 }

 .loader {
     display: none;
     border: 12px solid #f3f3f3;
     /* Light grey */
     border-top: 12px solid #34db7f;
     /* Blue */
     border-radius: 50%;
     width: 60px;
     height: 60px;
     animation: spin 2s linear infinite;
 }

 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }