// Colors
$white: #fff;
$white-secondary: #faf8f8;
$black: #000;
$black-secondary: #333;
$blue: #0a5de2;


// Fonts
$font-big: calc(2rem + 1.5vw);
$font-big-medium: calc(1.1rem + .5vw);
$font-middle:calc(1rem + .3vw);
$font-text: 1rem;


// Misceallaneous
$shadow: 2px 4px 5px #00000069;